#header{
    background-color: white;
    width: 80%;
    margin: 20px auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 5fr 0.5fr 0.5fr;
    grid-template-rows: 80px;
    align-items: center;
    list-style: none;
}